<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="<%= htmlWebpackPlugin.options.paths.publicURL %>/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="HIS using ReactJS"
    />
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.options.paths.publicURL %>/logo192.png" />
    <link rel="manifest" href="<%= htmlWebpackPlugin.options.paths.publicURL %>/manifest.json" />
    <title>HIS</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="app-root"></div>
  </body>
</html>